body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#color {
	width: 100%;
	padding: 25px;
	background-color: yellow;
	color: black;
	font-size: 25px;
  }

  #ritual {
	width: 100%;
	padding: 25px;
	background-color: yellow;
	color: black;
	font-size: 25px;
  }

  #place {
	width: 100%;
	padding: 25px;
	background-color:yellow;
	color: black;
	font-size: 25px;
  }

  #restaurant:hover {
	background-color: #2007ff;
	color: white;
  }

  #restaurant {
	background: #ff0404;
	border: 1px solid #8D8E8E;
	border-radius: 15px;
	color: white;
	padding: 5px 10px;  
	font-family: 'Times New Roman', Times, serif
  }